/*
	CSS Comments here
	//property: value;
*/


*{
	font-family: arial;
	background-color: #eee;
}

h1{
	color: #222; 
	padding: 10px 15px 10px 15px;
	border-left: 5px solid red;
}

strong{
	color: #111;
	text-transform: uppercase;
	font-size: 1.5em;
}

strong:hover{
	cursor: pointer;
}

h2{
	color: blue;
}

p{
	background-color: #222;
	padding: 15px;
	color: #eee;
	border-left: 3px solid red;
	line-height: 25px;
}

.main{
	position: absolute;
}

span{
	border-bottom: 2px solid red;
	background-color: transparent;
	color: #fff;
}