*{
	font-family: arial;
	padding: 0px;
	margin: 0px;
}
body{
	height: 100vh;
}
.flex{
	display: flex;
	justify-content: space-between;
	background-color: #e9e7e9;
	border-bottom: 1px solid grey;
}

.flex-first-child, .flex-second-child{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
} 

.logo{ 
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img{
	margin-left: 20px;
}

.nav { 
	padding: 20px; 
	border: 1px solid grey;
}

.nav:hover {
	cursor: pointer;
}

.active{
	background-color: #6dccde33;
}

span {
	font-size: 18px;
}

strong {
	font-size: 18px;
}

.option{
	margin-left: 50px;
}

button, h1{
	margin-left: 15px;
}

button{
	padding: 5px;
	border-radius: 3px;
	border: 1px solid black;
}

.clear{
	background-color: red;
	color: #fff;
}
.add{
	background-color: green;
	color: #fff;
}

.menu-clear{
	color: red;
}
.menu-add{
	color: green;
}

.ad{
	background-color: green;
	color: white;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
}

.str, p{
	color: #666;
}

footer{
	background-color: #ddd;
	padding: 20px;
	display: flex; 
    position: absolute;
    bottom: 0px;
}

.footer-left{
	padding-right: 90px; 
}
.footer-left, span{
	line-height: 20px;
}
.footer-right{
	width: 100px; 
	margin-left: 20px;
	margin-top: 10px;
}
.footer-right span{
	font-size: 15px;
	color: #666;
}